
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --heading-font:"Open Sans", Arial;
    --paragraph-font: Verdana, Helvetica;
}

/* Navigation bar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B1D3F;
    padding: 10px 40px;
}

/* Navigation links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 100px;
}

/* Style for each link */
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #17bebb;
}

/* Logo */
.logo {
    height: 60px;
    width: auto;
}

.logo-link {
    text-decoration: none;
}
#hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
    display: block;
}

.hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px 30px;
    border-radius: 10px;
}

/* Styling the button */
.hero-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #17bebb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #d35400;
}
#welcome{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #d4f4dd;
    margin: 30px;
}
#welcome h2{
    padding-bottom: 15px;
}

#welcome p {
    padding-left: 20px;
    padding-right: 20px;
}

.card-img{
    width: 400px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px; 
    width: 90%;
}

#contact-msg {
    width: 400px; 
    padding: 20px;
    background-color: #f9f9f9; 
    border: 2px solid #333; 
    border-radius: 10px; 
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); 
    margin: 40px auto; 
}

.button-box {
    display: inline-block;
    padding: 10px 20px;
    background-color: #17bebb; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
}

.book {
    color: black;
}
.book:hover {
    background-color: #d4f4dd;
}

/*footer*/

footer .social img{
    padding-top: 15px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
text-decoration: underline;
}
footer{
    background-color: #4B1D3F;
    color: white;
    padding: 25px 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color:#DAFAC8;
}

.icon{
    height: 60px;
    width: auto;
}