body {
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
content {
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
}
nav, footer{
    background-color: steelblue;
    padding: 20px;
    text-align:center;
}
nav a {
    padding: 15px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 15px;
}
nav a:hover {
    background-color: lightblue;
    color: steelblue;

}
h1 {
    text-align: center;
}
img {
    width: 400px;
    display: block;
    margin: 50px auto;
}
p {
    padding: 0 30px;
    line-height: 2em;
    width:800px;
    margin: 0 auto;
}
#main-topic {
    color: steelblue
}
footer{
    margin-top: 50px;
}
footer a {
    color: white;

}

.container {
    margin-left: 35%;
    position: relative;
    width: 30%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: steelblue;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
